<h1>Books</h1>
<span>Filter:</span>
<button onclick="window.location.href='{{ path('index') }}'">ALL</button>
<button onclick="window.location.href='{{ path('index', {'category': 1}) }}'">Biography</button>
<button onclick="window.location.href='{{ path('index', {'category': 2}) }}'">Fiction</button>
<button onclick="window.location.href='{{ path('index', {'category': 3}) }}'">Science</button>