<!DOCTYPE html>
<html>

<head>
    <title>My excellent web page by Nick Abbott</title>
    <meta name="description" content="The eZ Bookshop">
    <!-- Bring in some Cascading Style Sheet libraries -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>